body{
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-image: url("./img/bgMain.jpg");
    background-size: cover;
}
.mainDiv{
    /* background-color: aqua; */
    height: 1000px;
    width: 1850px;
    margin-top: 85px;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
}
.patker{
    height: 950px;
    width: 910px;
    background-color: rgb(184, 184, 255);
    border-radius: 60px;
}
.inputsMain{
    height: 1000px;
    width: 910px;
    /* background-color: cornflowerblue; */
 
}
.label{
    font-size: 50px;
    text-align: center;
}
.inputs{
margin-left: 7%;
}

/* .input{
    background-color: rgb(204, 149, 255);
    height: 90px;
    width: 650px;
    border-radius: 30px;
} */
.nkar{
    height: 80%;
    width: 80%;
   border-radius: 50px;
   display:block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
}
.harcMain{
    background-color: rgb(151, 243, 255);
    border-radius: 50px;
    height: 300px;
    width: 650px;

}
.harc{
    font-size: 50px;
    font-family: 'Noto Sans Armenian', sans-serif;
}
.harcDiv{
    margin-left: 20px;
}
.inform{
    /* background-color: cyan; */
    height: 150px;
    width: 910px;
    display: flex;
    justify-content: space-between;
}
.score{
    /* background-color: darkkhaki; */
    height: 150px;
    width: 250px;
    font-size: 40px;
    margin-left: 30px;
    font-family: 'Noto Sans Armenian', sans-serif;
}
.time{
    /* background-color: rgb(52, 182, 0); */
    height: 150px;
    width: 300px;
    font-size: 50px;
    text-align: right;
    margin-top: 40px;
    margin-right: 60px;
    font-family: 'Noto Sans Armenian', sans-serif;
}



.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 90px;
    width: 650px;
    font-size: 35px;
    font-family: 'Noto Sans Armenian', sans-serif;

}

.button1 {
    background-color: rgb(218, 179, 255); 
    color: black; 
    border: 2px solid #b65dff;
    border-radius: 30px;
  }
  
.button1:hover {
    background-color: #b65dff;
    color: white;
}

.button2 {
    background-color: rgb(218, 179, 255); 
    color: black; 
    border: 2px solid #b65dff;
    border-radius: 30px;
  }
  
.button2:hover {
    background-color: #b65dff;
    color: white;
}

.button3 {
    background-color: rgb(218, 179, 255); 
    color: black; 
    border: 2px solid #b65dff;
    border-radius: 30px;
  }
  
.button3:hover {
    background-color: #b65dff;
    color: white;
}

.button4 {
    background-color: rgb(218, 179, 255); 
    color: black; 
    border: 2px solid #b65dff;
    border-radius: 30px;
  }
  
.button4:hover {
    background-color: #b65dff;
    color: white;
}

img {
    height: 100%;
    width: 100%
    }
    
    /* .box{
        width: 70%;
        margin-left: 111px;
        margin-right: 154px;
        margin-top: 70px;
        height: 600px;
    } */
.card1{
    background-color: rgb(184, 184, 255);
    height: 300px;
    width: 400px;
    margin-top: 350px;
    margin-left: 800px;
    font-size: 30px;
    border-radius: 30px;
    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, .3);
}

.buttononclick{
    width: 300px;
    height: 60px;
    background: rgb(9, 108, 35);
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #fff;
    margin-left: 60px;
    font-size: 30px;
    font-family: 'Noto Sans Armenian', sans-serif;

}
.buttononclick:hover {
    background-color: rgb(46, 150, 74);
}
.alerttext{
    margin-left: 20px;
    margin-top: 20px
    

}
#alert {
    display: none;
    padding: 40px 40px 60px 40px;
    width: 20vw;
    font-size: 2rem;
    font-family: 'Noto Sans Armenian', sans-serif;
}